
:root {
    --body-text-color: #707070;
    --card-text-color-tertiary: #767676;

}
.article-page {

    .main-article {

        .article-header {
            .article-image {
                img {
                    height: auto;
                    width: 100%;
                    max-height: none;
                    object-fit: cover;
                }
            }
        }
    }
}